<h2>Add</h2>
<form [formGroup]="form" (ngSubmit)="form.valid && submitForm()" class="col-md-8 mb-6" #localForm="ngForm">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="status">Status</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="name" name="name" [(ngModel)]="myForm.name" [class.is-invalid]="localForm.submitted && form.get('name')?.invalid" autocomplete="off"/>
          <div class="invalid-feedback">
            Status required
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <button type="submit"  class="btn btn-primary">Add</button>
    </div>
    <div class="col-1">
      <button type="button" (click)="back()" class="btn btn-secondary">Back</button>
    </div>
  </div>
</form>

