
  <legend>Department Details</legend>
  <form #departmentForm="ngForm">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="txtEmpCode" class="form-label">Emp Code</label>
          <input type="text"  class="form-control"  name="empCode" [(ngModel)]="deptForm.empCode"  id="txtEmpCode" autocomplete="off" required #empCode="ngModel"  ngModel/>
          <span *ngIf="empCode.invalid && empCode.touched" class="errormessage"> Emp Code is Required</span>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="txtDepartment" class="form-label">Department</label>
          <input type="text"  class="form-control" name="department" [(ngModel)] = "deptForm.department"  id="txtDepartment" autocomplete="off" required #department="ngModel"  ngModel/>
          <span *ngIf="department.invalid && department.touched" class="errormessage">Department is Required</span>
        </div>
      </div>
    </div>
    <button [disabled]="departmentForm.invalid" type="submit" (click)="addDepartment()" class="btn btn-primary">Add</button>
    <button type="button" (click)="back()" class="btn btn-secondary mx-4">Back</button>
  </form>
