<div class="container">
  <legend>Employee Details</legend>
    <form>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="txtName" class="form-label">Name</label>
            <input type="text" name="name" [(ngModel)] = "employeeForm.name" class="form-control" id="txtName" autocomplete="off" required/>
          </div>
          <div class="mb-3">
            <label for="txtemail" class="form-label">E-mail</label>
            <input type="email" name="email" [(ngModel)] = "employeeForm.email" class="form-control" id="txtEmail" autocomplete="off" required />
          </div>
          <div class="mb-3">
            <label for="txtDesignation" class="form-label">Designation</label>
            <input type="text" name="designation" [(ngModel)] = "employeeForm.designation" class="form-control" id="txtDesignation" autocomplete="off" required/>
          </div>
          <div class="mb-3">
            <label for="txtDepartment" class="form-label">Department</label>
            <input type="text" name="department" [(ngModel)] = "employeeForm.department" class="form-control" id="txtDepartment" autocomplete="off" required/>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="txtDate" class="form-label">DoJ</label>
            <input type="date" name="date" [(ngModel)] = "employeeForm.date" class="form-control" id="txtDate" autocomplete="off" required/>
          </div>
          <div class="mb-3">
            <label for="txtStatus" class="form-label">Status</label>
            <select name="status" [(ngModel)] = "employeeForm.status" class="form-control" id="txtStatus" autocomplete="off">
                <option>Permanent</option>
                <option>Temporary</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="txtSalary" class="form-label">Salary</label>
            <input type="text" name="salary" [(ngModel)] = "employeeForm.salary" class="form-control" id="txtSalary" autocomplete="off" required/>
          </div>
        </div>
      </div>
      <button type="button" (click)="back()" class="btn btn-secondary mx-4">Back</button>
      <button type="button" (click)="addEmployee()" class="btn btn-primary">Add</button>
    </form>
</div>
