<h3 style="padding-bottom: 40px; padding-top: 20px;">Designation Table</h3>
<div *ngIf="designationData && designationData.length > 0">
  <nav class="navbar navbar-expand-lg navbar-light mt-2">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown mx-3">
            <a class="btn btn-secondary dropdown-toggle"  role="button" data-toggle="dropdown" aria-expanded="false">
                Action
            </a>
            <div class="dropdown-menu">
                <button class="dropdown-item" (click)="deleteMultiDesignation()">Delate</button>
            </div>
        </li>
        <li class="nav-item btn-group dropright">
            <button type="button" class="btn btn-secondary" data-toggle="dropdown">
                <i class="fa fa-filter" aria-hidden="true"></i> Filter
            </button>
            <div class="dropdown-menu">
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="search" [(ngModel)]="searchText"  placeholder="Search" aria-label="Search" autocomplete="off"/>
                <button class="btn btn-outline-success my-2 my-sm-0"  type="button"><i class="fa fa-search"></i></button>
              </form>
            </div>
        </li>
      </ul>
      <ul class="navbar nav ml-auto">
        <li class="nav-item">
            <button type="button" class="btn btn-success" routerLink="/designation/designation-add"><i class="fas fa-plus"></i> Add</button>
        </li>
        <li class="nav-item btn-group">
            <button type="button" class="btn btn-info dropdown-toggle mx-3" data-toggle="dropdown" aria-expanded="false">
                Export
           </button>
           <div class="dropdown-menu">
               <a class="dropdown-item" href="#">Logout</a>
           </div>
        </li>
      </ul>
    </div>
  </nav>

  <table class="table mt-3">
    <thead>
      <tr>
        <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
        <th (click)="sort('name')" scope="col-4">Designation <i class="fas fa-sort"></i></th>
        <th scope="col-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of designationData |orderBy: key: reverse  | filter: searchText | paginate:{itemsPerPage:pageSize,currentPage:page,totalItems:totalLength}; let i=index; let odd = odd"  [ngClass]="odd ? 'odd_col' : 'even_col'">
        <td><input type="checkbox" value="{{row.id}}" [(ngModel)]="designationData[i].checked"></td>
        <td>
          <div *ngIf="!row.isEdit">
            {{row.name}}
          </div>
          <div *ngIf="row.isEdit" novalidate>
            <input type="text" #designation="ngModel" required name="name" [(ngModel)]="row.name" class="form-control"/>
          </div> 
        </td>
        <td>
          <div class="row" *ngIf="!row.isEdit">
            <div class="col-md-4 text-right">
              <a><i class="fa fa-arrow-circle-right crusor font-20" [routerLink]="['/designation/designation-view', row.id]"  aria-hidden="true"></i></a>
            </div>
             <div class="col-md-4">
              <a><i class="fas fa-pencil-alt" (click)="getDesignationId(row)" aria-hidden="true"></i></a>
             </div>
             <div class="col-md-4">
              <a (click)="deleteDesignation(row)"><i class="fas fa-trash"  aria-hidden="true"></i></a>
             </div>
          </div>
          <div class="row" *ngIf="row.isEdit">
            <div class="col-md-6 text-right">
              <button class="btn btn-success" (click)="update(row)">update</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-danger" (click)="cancel(row)">cancel</button>
            </div>
          </div>
         </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- pagination -->
<div class="pagination">
  <label class="col-md ml-auto">Select Page</label>
  <div class="col-md-offset-11 ml-auto">
    <select id="PerPage" class="form-control" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="25">25</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
    </select>
  </div>
  <pagination-controls (pageChange)="page=$event"></pagination-controls>
</div>
