/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
body{
    /* background-color: #efefef !important; */
    padding-top: 100px;
}
/* .card{
    border: none;
}
.list-group-item{
    border: none;
    border-bottom: 1px solid #ddd;
} */